/* CSS styling for the banner */
.banner-container {
    position: absolute;
    top: 0;
    background-color: #edbbba;
    width: 100%;
    height: 18%;
    left: 0; /* Added to make the banner container go all across the screen */
}

#banner {
    position: absolute;
    top: 0;
    right: 0;
    width: auto; /* Adjust the width as per your requirement */
    height: 18%;
}

.custom-iframe{
    position: absolute;
    top: 23%; /* Position below the banner */
    left: 50%; /* Center horizontally */
    transform: translateX(-50%); /* Center horizontally */
    width: auto; /* Adjust the width as per your requirement */
    height: 35%;
}
/* CSS styling for the profiles */
.profile {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}

.profile h2 {
    margin-top: 0;
}

.profile p {
    margin-bottom: 5px;
}
